{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class="consol" style="color: #f29526;">Contrôle Bancaire par date de transaction</h1>
<div>
    <h2 style="color: #008bcc;">Veuillez choisir une date de début et une date de fin:</h2>
    <form action="{{ url_for('controleTransaction') }}" method="post">
        <label for="startDate" >Date début:</label>
        <input type="date" name="startdate" id="startdate"  required>
        <label for="birthday">Date fin:</label>
        <input type="date" name="enddate" id="enddate" required>
        <input type="submit" name="action"value="Confirmer">
    </form>
</div>

<div>
    <h2 style="color: #008bcc;">Veuillez sélectionner le fichier des transactions:</h2>
    <br>
    <form action="{{ url_for('controleTransaction') }}" method="post" enctype="multipart/form-data">
        <input type="file" value="Upload" name="uploadExcels" id="uploadExcels" >
        <input type="submit" name="action" value="ExcelFile" >
    </form>
</div>

<div>
    <h2 style="color: #008bcc;">Veuillez sélectionner le fichier BO:</h2>
    <br>
    <form action="{{ url_for('controleTransaction') }}" method="post" enctype="multipart/form-data">
        <input type="file" value="Upload" name="uploadBoe" id="uploadBoe" >
        <input type="submit"  name="action" value="BoFiles">
    </form>
</div>

{% endblock %}